[submodule "Server/numpy"]
	path = Server/numpy
	url = https://github.com/numpy/numpy.git
[submodule "Server/pybrain"]
	path = Server/pybrain
	url = https://github.com/pybrain/pybrain.git
[submodule "Server/arac"]
	path = Server/arac
	url = git://github.com/bayerj/arac.git
